#lorem{
    background-color: #ff6000ff;
    .container{
        height: 300px;
        h1{
            font-size: 70px;
            color: white;
        }
        h3{
            font-size: 25px;
            color: white;
        }
        p{
            color: white;
        }
    }
}