header {
  background-image: url(https://megaone.acrothemes.com/cafe/images/banner-image.jpg);
  height: 100vh;
}
header img {
  background-color: black;
}
header ul .clr-orange {
  color: orangered;
}
header ul a {
  text-decoration: none;
  color: black;
}
header ul a:hover {
  color: orangered;
  transition-duration: 0.2s;
}
header ul li {
  display: inline-block;
  padding: 1rem;
}
header .text-1 {
  background-color: black;
  width: 25%;
  margin: 150px auto 0;
}
header .text-2 {
  font-size: 37px;
  width: 40%;
  margin: 0 auto;
  background-color: orangered;
}
header .btn {
  width: 160px;
  height: 50px;
  margin-top: 50px;
  border-radius: 20px;
  border: 0;
  cursor: pointer;
}
header .btn:hover {
  background-color: black;
  color: white;
  transition-duration: 0.5s;
}
header .facebook {
  position: absolute;
  right: 0;
  top: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header .facebook svg {
  cursor: pointer;
  margin: 3px;
  background-color: white;
  border-radius: 50%;
}
header .facebook svg:hover {
  background-color: black;
  transition: 0.6s;
  color: white;
}

nav {
  padding-top: 50px;
  top: 0;
}

#best .bestquality {
  background-image: url(https://megaone.acrothemes.com/cafe/images/services-image.jpg);
  width: 690px;
  height: 500px;
  margin-left: 150px;
}
#best .qual {
  width: 280px;
  font-size: 30px;
  margin-top: 270px;
  margin-left: 0px;
  transform: translateX(200px);
}
#best .food {
  width: 400px;
  font-size: 30px;
  transform: translateX(200px);
  background-color: orangered;
}
#best .col-7 .light {
  cursor: pointer;
}
#best .col-7 .light .bulb {
  font-size: 120px;
  transition: color 0.3s;
  transition-timing-function: ease-in-out;
}
#best .col-7 .light p {
  font-size: 18px;
  text-align: justify;
  width: 300px;
}
#best .col-7 .light:hover i {
  color: orangered;
}
#best .col-7 .heart {
  margin-top: 100px;
  cursor: pointer;
}
#best .col-7 .heart p {
  text-align: left;
  width: 300px;
  font-size: 18px;
}
#best .col-7 .heart:hover svg {
  color: orangered;
}
#best .col-7 .heart svg {
  transition: color 0.3s;
  transition-timing-function: ease-in-out;
}
#best .bag {
  align-items: center;
  text-align: center;
  cursor: pointer;
}
#best .bag i {
  font-size: 120px;
  transition: color 0.3s;
  transition-timing-function: ease-in-out;
}
#best .bag p {
  font-size: 18px;
}
#best .bag:hover i {
  color: orangered;
}

#lorem {
  background-color: #ff6000;
}
#lorem .container {
  height: 300px;
}
#lorem .container h1 {
  font-size: 70px;
  color: white;
}
#lorem .container h3 {
  font-size: 25px;
  color: white;
}
#lorem .container p {
  color: white;
}

#gallery .info {
  margin-top: 80px;
}
#gallery .info h3 {
  font-size: 40px;
  color: #ff6000;
}
#gallery .gallery .gallery-about {
  width: 1110px;
  height: 1108px;
  margin: 0 auto;
  position: relative;
  list-style-type: none;
  padding: 0;
}
#gallery .p-absolute {
  position: absolute;
}
#gallery .p-absolute:hover .plus {
  opacity: 0.75;
}
#gallery .gallery .gallery-about .picture-1 {
  background-image: url(https://megaone.acrothemes.com/cafe/images/work-1.jpg);
  width: 277px;
  height: 554px;
}
#gallery .gallery .gallery-about .picture-2 {
  background-image: url(https://megaone.acrothemes.com/cafe/images/work-2.jpg);
  width: 277px;
  height: 277px;
}
#gallery .gallery .gallery-about .picture-3 {
  background-image: url(https://megaone.acrothemes.com/cafe/images/work-4.jpg);
  width: 554px;
  height: 554px;
}
#gallery .gallery .gallery-about .picture-4 {
  background-image: url(https://megaone.acrothemes.com/cafe/images/work-3.jpg);
  width: 277px;
  height: 277px;
}
#gallery .gallery .gallery-about .picture-5 {
  background-image: url(https://megaone.acrothemes.com/cafe/images/work-5.jpg);
  width: 554px;
  height: 554px;
}
#gallery .gallery .gallery-about .picture-6 {
  background-image: url(https://megaone.acrothemes.com/cafe/images/work-6.jpg);
  width: 554px;
  height: 277px;
}
#gallery .gallery .gallery-about .picture-7 {
  background-image: url(https://megaone.acrothemes.com/cafe/images/work-7.jpg);
  width: 277px;
  height: 277px;
}
#gallery .gallery .gallery-about .picture-8 {
  background-image: url(https://megaone.acrothemes.com/cafe/images/work-8.jpg);
  width: 277px;
  height: 277px;
}
#gallery .gallery {
  cursor: pointer;
}
#gallery .gallery .plus {
  position: absolute;
  text-align: center;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: 0.7s;
  background-color: dimgrey;
}
#gallery .gallery .plus svg {
  color: white;
}
#gallery .gallery .plus h5 {
  font-size: 25px;
}

#customer .review {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
  width: 100%;
  height: 650px;
  background-color: whitesmoke;
}
#customer .review .container {
  position: relative;
}
#customer .review .container .icon1 {
  position: absolute;
  right: 130px;
  bottom: 100px;
  color: #ff6000;
}
#customer .review .container .icon2 {
  position: absolute;
  rotate: 180deg;
  left: 130px;
  bottom: 220px;
  color: #ff6000;
}
#customer .review .container h4 {
  font-size: 40px;
  margin-bottom: 20px;
}
#customer .review .container .usa {
  color: #ff6000;
}
#customer .review .container .mt-4 {
  width: 65%;
  margin: 40px auto 0;
}
#customer .review .container .sarah {
  margin: 10px 0px 10px 0;
  color: #000;
  font-size: 20px;
}
#customer .review .container span {
  cursor: pointer;
  font-size: 100px;
}

#menu .text-center {
  margin-top: 150px;
}
#menu .text-center h2 {
  color: #ff6000;
  font-size: 48px;
}
#menu .food .col-3:hover .content {
  color: white;
  transition: all 0.5s;
  transition-timing-function: ease;
  background-color: #ff6000;
}
#menu .food .col-3 .item {
  width: 293px;
}
#menu .food .col-3 .item .image {
  height: 293px;
}
#menu .food .col-3 .item .content {
  width: 293px;
}
#menu .food .col-3 .item .content h4 {
  padding: 15px;
  font-size: 18px;
}
#menu .food .col-3 .item .content p {
  margin-bottom: 15px;
}
#menu .food .col-3 .item .content svg {
  cursor: pointer;
  margin: 3px;
  border-radius: 50%;
}
#menu .food .col-3 .item .content .fb {
  height: 24px;
}
#menu .food .col-3 .item .content .fb:hover {
  background-color: #4567af;
  color: #fff;
  transition: 0.5s;
}
#menu .food .col-3 .item .content .twit {
  height: 24px;
}
#menu .food .col-3 .item .content .twit:hover {
  background-color: #007bff;
  color: #fff;
  transition: 0.5s;
}
#menu .food .col-3 .item .content .insta {
  height: 24px;
}
#menu .food .col-3 .item .content .insta:hover {
  background-color: #c94f77;
  color: #fff;
  transition: 0.5s;
}/*# sourceMappingURL=style.css.map */